jupyter>=1.1.1
numpy>=1.24.0
orfipy>=0.0.4
pandas>=2.0.0
matplotlib>=3.7.0
seaborn>=0.13.0
biopython>=1.81
biotite>=0.38.0
pytest>=7.3.0
ipykernel>=6.25.0
ipywidgets>=8.0.0
torch>=2.6
boltz==0.4.1
transformers
chai_lab==0.6.1
esm
pyyaml
py3Dmol
huggingface_hub

# API and async dependencies
fastapi>=0.104.0
uvicorn>=0.24.0

# Database dependencies
sqlmodel>=0.0.8
sqlalchemy>=2.0.0
aiosqlite>=0.19.0  # For async SQLite support
asyncpg>=0.28.0    # For async PostgreSQL support
greenlet

# Task queue dependencies  
worker>=5.3.0
cache>=5.0.0       # a cache as message broker/backend
kombu>=5.3.0       # the task queue dependency for message transport
dotenv